.header_bg{
	height: 1000px;
	background-color: #8EC4E0;
}

main{
	height: 500px;
	background-color: #F5B73C;
}

footer{
	height: 500px;
	background-color: #655CAB;
}

.menu{
	padding:20px;	
}

.screenshots{
	padding:20px;	
}

.about{
	padding:20px;	
}